.DS_Store
gradle.properties
**/gen
**/bin
**/output
**/lint-report*
**/local.properties
*.iml
/thirdparty
**/*.iml
out
build
.gradle
.idea
.idea/*
.idea/scopes
.idea/workspace.xml
.idea/dictionaries/*
